*.jpg

.vscode

output*
test_inference*
images*
.ipynb_checkpoints
wandb*

lightning_logs/*

deepscribe-torch/*
*.pyc

__pycache__

*.tar.gz

sign-detector/*
sign-detector-*

archive/*

data/*

traindirs/
raw_ochre/

*.npz